.quiz-form-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(120deg, #ff6b6b, #6b6bff);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

Select,
Textarea {
    width: 100%;
    margin-bottom: 15px;
    background: #23272f;
    color: #ebecf0;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

Button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff6b6b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
}

Button:hover {
    background-color: #6b6bff;
}