body {
    font-family: 'Alice', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
}

p.correct {
    color: #4caf50;
}

p.incorrect {
    color: #e74c3c;
}